<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<script>
		if (window.self !== window.top) {  // Check if we're in an iframe
		  document.addEventListener('click', function(event) {
			if (event.target.tagName === 'A' && event.target.href) {
			//   event.preventDefault(); // Prevent default navigation
			  const link = new URL(event.target.href);
		
			  if (link.origin === window.location.origin) {
				// Internal link
				const path = link.pathname + link.search + link.hash;
				window.parent.postMessage({ type: 'navigation', path: path }, 'https://www.alphantech.fyi');
			  } else {
				// External link
				event.preventDefault();
				window.parent.postMessage({ type: 'externalNavigation', url: event.target.href }, 'https://www.alphantech.fyi');
			  }
			}
		  });
		} else {
		  // If not in an iframe, handle external links normally
		  document.addEventListener('click', function(event) {
			if (event.target.tagName === 'A' && event.target.href) {
			  const link = new URL(event.target.href);
			  if (link.origin !== window.location.origin) {
				event.preventDefault();
				window.open(event.target.href, '_blank', 'noopener,noreferrer');
			  }
			}
		  });
		}
		</script>
</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
